{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, Django, Java, git, Bootstrap, Python, Self-Taught, Engineer">
        <meta name="author" content="Marshall Heyda">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="title" property="og:title" content="Marshall's Coding Portfolio" />
        <meta property="og:type" content="Website" />
        <meta name="image" property="og:image" content="" />
        <meta name="description" property="og:description" content="Marshall's Coding Portfolio" />
	
	<link rel="stylesheet" type='text/css' href="{% static 'national_park_explorer/styles.css' %}">	

        <title>Marshall's Portfolio</title>
    </head>
    <body>
        <h1>Django api running...</h1>
    </body>
</html>
